cdm-spark-manager-client @ git+https://github.com/kbase/cdm-kube-spark-manager-client.git@0.0.1
cdm-task-service-client @ git+https://github.com/kbase/cdm-task-service-client.git@0.2.0
minio-manager-service-client @ git+https://github.com/BERDataLakehouse/minio_manager_service_client.git@v0.0.4
datalake-mcp-server-client @ git+https://github.com/BERDataLakehouse/datalake-mcp-server-client.git@v0.0.1
cdm-tree-browser @ https://github.com/kbaseincubator/cdm-tree-browser/releases/download/0.0.2/cdm_tree_browser-0.1.0-py3-none-any.whl
jupyterlab-favorites==3.2.2
boto3==1.40.3
delta-spark==4.0.0
itables==2.4.5
minio==7.2.16
pandas==2.3.2
pip==25.2
sidecar==0.7.0
httpx==0.28.1
pyspark[connect]==4.0.0
attrs==25.3.0
py4j==0.10.9.9
pydantic-settings==2.10.1
hmsclient==0.1.1

# Jupyter AI dependencies
jupyter-ai==2.31.6
langchain-openai==0.3.35
langchain-anthropic==0.3.22
langchain-ollama==0.3.10
huggingface_hub==0.35.3
jupyter-ai-cborg @ git+https://github.com/kbaseincubator/cdm-jupyter-ai-cborg.git@v0.1.0

# JupyterLab Brand Extension
cdm-jupyterlab-brand-extension @ https://github.com/kbaseincubator/cdm_jupyterlab_brand_extension/raw/main/dist/cdm_jupyterlab_brand_extension-0.1.0-py3-none-any.whl